.cartEmpty {
    padding: 50px;
    text-align: center;
    color: var(--color-primary);
}

.orderPage {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    color: var(--color-primary);
}

.order {
    background-color: var(--input-bg);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: black;
}

.orderForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.orderFormInput {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--input-bg);
}

.orderPageButton {
    margin-top: 10px;
}