.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    gap: 30px;

    border: 1px solid var(--card-border);
    border-radius: 5px;
    background-color: white;

}

.productImg {
    height: 120px;
    aspect-ratio: 1 / 1;
}

.info {
    display: flex;
    flex-direction: column;
}

.mainInfo {
    display: flex;
    justify-content: space-between;
}

.productName{
    font-weight: var(--fw-regular);
    font-size: var(--fs-medium);
    color: black;
}

.productPrice{
    color: var(--color-highlight);
}

.productDesc{
    color: var(--color-text);
}

.control{
    display: flex;
    gap: 8px;
}

.productCardBtn {
    width: 150px;
    height: 45px;
}

.productCardInput {
    height: 41px;
}
