@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'Inter', sans-serif;
}

.app {
    padding: 0 120px;
}

:root {
    --btnBg: url('./assets/images/order-button.png');
    --heroBg: url('./assets/images/main-bg.png');
    --footerBg: url('./assets/images/footer-bg.png');
    --menuBg: url('./assets/images/menu-page-bg.png');
    --lightTheme: url('./assets/icons/sun-icon.svg');
    --darkTheme: url('./assets/icons/moon-icon.svg');

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --fs-small: 16px;
    --fs-medium: 18px;
    --fs-large: 50px;

    --color-primary: black;
    --color-text: #546285;
    --color-highlight: #35B8BE;
    --color-text-transparent: rgba(84, 98, 133, 0.15);
    --color-border: #61728333 ;
    --card-border:#35B8BE26;
    --productCard-bg: white;
    --input-bg: white;

    --main-padding-val: 120px;
    --main-padding: 0 var(--main-padding-val);
}

html[data-theme="dark"] {
    background-color: #292a2e;

    --color-primary: #f5f5f7;
    --color-text: #b0b8c8;
    --color-text-transparent: rgb(255 255 255 / 0.85);
    --color-border: rgba(255, 255, 255, 0.10);
    --card-border: rgba(77, 208, 225, 0.18);
    --input-bg: #a3a3a3;
    --heroBg: url('./assets/images/main-bg-dark.png');
    --footerBg: url('./assets/images/footer-bg-dark.png');
    --menuBg: url('./assets/images/menu-page-bg-dark.png');
    --productCard-bg: rgb(41 42 46 / 0.47);
}