@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'Inter', sans-serif;
}

.app {
    padding: 0 120px;
}

:root {
    --btnBg: url('./assets/images/order-button.png');
    --heroBg: url('./assets/images/main-bg.png');
    --footerBg: url('./assets/images/footer-bg.png');

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --color-primary: black;
    --color-text: #546285;
    --color-highlight: #35B8BE;
    --color-text-transparent: rgba(84, 98, 133, 0.15);

    --main-padding-val: 120px;
    --main-padding: 0 var(--main-padding-val);
}